<div class="hidden md:flex md:w-[10%] bg-gray-900 p-4 text-white flex-col h-screen items-center">
    <div class="text-2xl font-bold tracking-widest mb-6">CH</div>
    <div class="flex flex-col space-y-4">
        <a href="/dashboard" class="relative flex flex-col items-center cursor-pointer hover:text-gray-400 transition">
            <img src={{ asset('icons/allchat.png')}} class="w-8 h-8">
            <span class="absolute -top-1 -right-3 bg-gray-700 text-xs px-2 py-0.5 rounded-full">86</span>
            <p class="text-xs mt-1">All chats</p>
        </a>
        <a href="/dashboard/profile" class="flex flex-col items-center cursor-pointer hover:text-gray-400 transition">
            <img src={{ asset('icons/profile.png')}} class="w-8 h-8">
            <p class="text-xs mt-1">Profile</p>
        </a>
        <div class="flex flex-col items-center cursor-pointer hover:text-gray-400 transition">
            <img src="/icons/folder.svg" class="w-8 h-8">
            <p class="text-xs mt-1">Meet</p>
        </div>
        <hr class="w-3/4 border-gray-700 my-2">
        <div class="flex flex-col items-center cursor-pointer hover:text-gray-400 transition">
            <img src="/icons/calendar.svg" class="w-8 h-8">
            <p class="text-xs mt-1">Calendar</p>
        </div>
        <div class="flex flex-col items-center cursor-pointer hover:text-gray-400 transition">
            <img src="/icons/rating.svg" class="w-8 h-8">
            <p class="text-xs mt-1">Rating</p>
        </div>
        <div class="flex flex-col items-center cursor-pointer hover:text-gray-400 transition">
            <img src="/icons/saved.svg" class="w-8 h-8">
            <p class="text-xs mt-1">Saved</p>
        </div>
    </div>
</div>